# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Packaging
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
